<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jinx Login</title>
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        {% include 'includes/_messages.html' %}
        <form action="" method="POST">
          <h2 class="title">Login</h2>
          <div class="form-group">
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input
                type="text"
                id="inputUsername"
                name="username"
                class="form-control"
                placeholder="Username"
                required="required"
                autofocus="autofocus"
                value="{{request.form.username}}"
              />
              <!-- <label for="inputUsername">Username</label> -->
            </div>
          </div>
          <div class="form-group">
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                id="inputPassword"
                name="password"
                class="form-control"
                placeholder="Password"
                required="required"
                autofocus="autofocus"
                value="{{request.form.password}}"
              />
              <!-- <label for="inputPassword">Password</label> -->
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
